.wrapper {
  height: 100vh;
  background-image: linear-gradient(45deg, #a99b81, #3d4957);
  display: flex;
}

.chartWrapper {
  align-self: center;
  height: 600px;
  width: 75%;
  overflow: hidden;
  border-radius: 45px;
}
