.wrapper {
  height: 100vh;
  background-image: linear-gradient(45deg, #a99b81, #3d4957);
  display: flex;
}

.tasksWrapper {
  height: 80vh;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.7);
  align-self: center;
  border-radius: 45px;
  overflow: scroll;
}

.tasksWrapper > div:first-child {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.tasksWrapper div:first-child h1 {
  color: white;
  flex-basis: 20%;
  text-align: center;
}

.tasksWrapper div:first-child input {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 46px;
  border: 0;
  color: white;
  flex-basis: 60%;
}

.tasksWrapper div:first-child .addTaskDialogIcon {
  color: white;
  flex-basis: 20%;
  font-size: 50px;
  align-self: center;
  cursor: pointer;
}

.tasksWrapper div:last-child > div.tasksNavigationWrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.noTaskSelected {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.tasksWrapper div:last-child .unselectedTasksNavigation,
.selectedTasksNavigation {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 25px;
}

.tasksWrapper div:last-child .unselectedTasksNavigation {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.selectedTasksNavigation {
  background-color: white;
  color: black;
}
