.welcomeDiv {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.welcomeDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.welcomeDiv .welcomeText {
  color: #fff;
  text-shadow: #000 0 1px 5px;
}
