#navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
}

#navbar a {
  flex-basis: 33%;
}

#navbar a img {
  width: 100px;
  border-radius: 20px;
}

.navbarMenu {
  display: none;
  color: #fff;
  cursor: pointer;
}

#navbar ul#normalUl {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  list-style-type: none;
  position: relative;
  right: 10px;
}

#navbar ul li {
  padding: 20px;
  color: #fff;
}

#navbar ul li .navLinkLi,
.loginLink,
.registerLink {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
}

#navbar ul li .navLinkLi:hover {
  color: #d5d5d5;
}

#navbar ul#registerLoginUl {
  display: flex;
  list-style-type: none;
  flex-basis: 33%;
  justify-content: right;
  position: relative;
  right: 50px;
}

#navbar ul#registerLoginUl .loginLink,
#navbar ul#registerLoginUl .registerLink {
  border-radius: 50px;
  width: 100px;
  text-align: center;
  margin-right: 15px;
  transition: 0.25s;
}

#navbar ul#registerLoginUl .loginLink {
  background-color: #50beba;
}

#navbar ul#registerLoginUl .loginLink:hover {
  background-color: #449b98;
}

#navbar ul#registerLoginUl .registerLink {
  background-color: #15233c;
}

#navbar ul#registerLoginUl .registerLink:hover {
  background-color: #080e19;
}

/* Devices up to tablet */
@media screen and (max-width: 768px) {
  .navbarMenu {
    display: block;
  }

  #navbar,
  #navbar ul#normalUl,
  #navbar ul#registerLoginUl {
    flex-direction: column;
  }

  #navbar ul#normalUl,
  #navbar ul#registerLoginUl {
    display: none;
  }

  #navbar ul#registerLoginUl {
    gap: 20px;
    right: 10px;
  }
}
