.wrapper {
  height: 100vh;
  background-image: linear-gradient(45deg, #a99b81, #3d4957);
  display: flex;
}

.settingsWrapper {
  height: 80vh;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.7);
  align-self: center;
  border-radius: 45px;
  overflow: scroll;
}

.settingsWrapper .settingsTitle {
  color: white;
  margin: 40px;
}

.settingsMenu ul .settingsMenuListItem,
.settingsMenu ul .activeSettingsMenuListItem {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 15px 35px;
  border-radius: 45px;
  transition: 0.3s;
}

.settingsMenu ul .settingsMenuListItem:hover,
.settingsMenu ul .activeSettingsMenuListItem {
  background-color: rgba(0, 0, 0, 0.7);
}
