.regsisterDiv {
  display: flex;
  height: 100vh;
}

.regsisterDiv section:first-child,
.regsisterDiv section:last-child {
  flex-basis: 50%;
}

.regsisterDiv section:first-child form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  gap: 30px;
}

.regsisterDiv section:first-child form img {
  width: 20%;
  border-radius: 20px;
}

.regsisterDiv section:first-child form h1 {
  color: white;
}

.regsisterDiv section:first-child form button.registerButton {
  width: 20%;
  height: 40px;
  background-color: rgb(75, 75, 75);
  color: white;
  border: 0;
  border-radius: 25px;
  font-size: 14px;
}

.regsisterDiv section:first-child form button.registerButton:hover {
  background-color: rgb(48, 48, 48);
}

.registerInput {
  width: 300px;
}

.existingAccountLink {
  color: rgb(206, 151, 103);
  text-decoration: none;
}

.existingAccountLink:hover {
  color: rgb(162, 109, 64);
}

.regsisterDiv section:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 670px) {
  .regsisterDiv {
    display: block;
  }
  .regsisterDiv section:last-child img {
    display: none;
  }
}
