.userPageMenuItem {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 45px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.userPageMenuItem div {
  margin-left: 50px;
}

.userPageMenuItem h4 {
  margin-left: 10px;
}

.userPageMenuItem:hover {
  background-color: white;
  color: black;
}

.activeNavLink div {
  background-color: white;
  color: black;
}

#logoutItem:hover {
  background-color: rgb(159, 18, 18);
  color: white;
}

@media screen and (max-width: 1000px) {
  .userPageMenuItem {
    height: 9vw;
    width: 9vw;
  }

  /* The font size of the menu svg icons */
  .userPageMenuItem div svg {
    font-size: 3vw;
  }

  .userPageMenuItem div {
    margin: auto;
  }

  /* the menu items' texts */
  .userPageMenuItem h4 {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  /* The font size of the menu svg icons */
  .userPageMenuItem div svg {
    font-size: 5vw;
  }
}
