#navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
}

#navbar a {
  flex-basis: 33%;
}

#navbar a img {
  width: 100px;
  border-radius: 20px;
}

#navbar ul#normalUl {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  list-style-type: none;
  position: relative;
  right: 10px;
}

#navbar ul li {
  padding: 20px;
  color: #fff;
}

#navbar ul li .navLinkLi,
.registerLoginLink {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
}

#navbar ul li .navLinkLi:hover {
  color: #d5d5d5;
}

#navbar ul#registerLoginUl {
  display: flex;
  list-style-type: none;
  flex-basis: 33%;
  justify-content: right;
  position: relative;
  right: 50px;
}

#navbar ul#registerLoginUl li:first-child,
#navbar ul#registerLoginUl li:last-child {
  border-radius: 50px;
  width: 100px;
  text-align: center;
  margin-right: 15px;
  transition: 0.25s;
}

#navbar ul#registerLoginUl li:first-child {
  background-color: #50beba;
}

#navbar ul#registerLoginUl li:first-child:hover {
  background-color: #449b98;
}

#navbar ul#registerLoginUl li:last-child {
  background-color: #15233c;
}

#navbar ul#registerLoginUl li:last-child:hover {
  background-color: #080e19;
}
