.featuresDiv {
  height: 100vh;
  background-image: url("../../../public/FeaturesSectionImg.webp");
  padding: 1px;
}

.featuresDiv div {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  margin: 20px;
  height: 95%;
  align-items: center;
  border-radius: 25px;
  overflow: auto;
}

.featuresDiv div section:first-child,
.featuresDiv div section:last-child {
  flex-basis: 50%;
  text-align: center;
}

.featuresDiv div section:first-child img {
  border-radius: 25px;
  box-shadow: 0px 0px 6px #000;
}

.featuresDiv div section:last-child h1 {
  color: #fff;
  text-shadow: 0px 2px 4px #000;
}

.featuresDiv div section:last-child p {
  color: #fff;
  padding: 10px 80px;
  font-size: 18px;
  text-align: justify;
}

/* Till Laptop Size */
@media screen and (max-width: 1024px) {
  .featuresDiv div {
    flex-direction: column;
  }
  .featuresDiv div section:first-child img {
    margin-top: 50%;
  }
}

/* Till Tablet Size */
@media screen and (max-width: 768px) {
  .featuresDiv div section:first-child img {
    margin-top: 100%;
  }
}

/* Till Large Mobile Size */
@media screen and (max-width: 425px) {
  .featuresDiv div section:last-child h1 {
    font-size: 1.5rem;
  }
  .featuresDiv div section:last-child p {
    padding: 15px;
  }
}
