.footer {
  height: 40vh;
  background-color: rgb(32, 32, 32);
}

.footer .wrapper {
  height: 80%;
  display: flex;
  align-items: center;
}

.footer .wrapper div {
  flex-basis: 33%;
  color: #fff;
  text-align: center;
}

.footer .wrapper div img {
  width: 100px;
  border-radius: 20px;
}

.copyrightText {
  color: black;
  background-color: white;
  padding: 20px;
}

/* For Large Mobile sizes */
@media screen and (max-width: 425px) {
  .footer {
    height: 100%;
  }

  .footer .wrapper {
    padding-top: 10px;
    flex-direction: column;
  }
}
