.taskDialog {
  border-radius: 45px;
  width: 50%;
  height: 50%;
}

.taskDialog h2 {
  text-align: center;
}

/* label + input */
.taskDialog div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.taskDialog div label {
  flex-basis: 30%;
  font-weight: 600;
}

.taskDialog div input,
.taskDialog div textarea {
  flex-basis: 50%;
  background-color: rgb(225, 225, 225);
}

.taskDialog div .prioritySelect {
  flex-basis: 50%;
}

.taskDialog .addTaskButton {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 7px 55px;
  font-weight: 600;
  border: 0;
  border-radius: 45px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.taskDialog.addTaskButton:hover {
  background-color: black;
}

#closeModalDiv {
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .taskDialog div {
    flex-direction: column;
    align-items: center;
  }
  .taskDialog div input,
  .taskDialog div textarea,
  .taskDialog div .prioritySelect {
    width: 70%;
  }
}
