.resetPasswordDiv {
  text-align: center;
  color: white;
}

.resetPasswordDiv img {
  width: 250px;
  border-radius: 45px;
  margin-top: 4%;
}

#resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  margin: auto;
}

#resetPasswordForm button {
  margin-top: 10px;
  background-color: rgb(75, 75, 75);
  color: white;
  border: none;
  font-size: 14px;
  width: 50%;
  height: 40px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

#resetPasswordForm button:hover {
  background-color: rgb(48, 48, 48);
}
